       <img src={{flag}} width=50 height=30>
        <p>{{name}}</p>
        <p>Capital: {{capital}}</p>
        <p>Languages: 
            {{#each languages}} 
                {{name}},
            {{/each}}
        </p>
        <p>Population: {{population}}</p>
